<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testSection" type="ConfigManager.CustomSection, ConfigManager" />
    <section name="testSectionWithMissingSetting" type="ConfigManager.CustomSection, ConfigManager" />
  </configSections>

  <appSettings>
    <add key="Setting1" value="Value1" />
    <add key="Setting2" value="Value2" />
  </appSettings>

  <testSection>
    <add key="Setting1" value="Value1" />
    <add key="Setting2" value="Value2" />
  </testSection>

  <testSectionWithMissingSetting>
    <add key="Setting1" value="Value1" />
  </testSectionWithMissingSetting>
</configuration>
